@import "./reset.css";

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
.maplibre-map {
  font-family: -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
}

html {
  height: -webkit-fill-available;
}

body,
main {
  min-height: 700px;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden-focusable:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none !important;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

#map-container {
  position: relative;
  width: auto;
  height: 100vh;
  flex-grow: 1;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tooltip {
  position: relative;
  width: 1rem;
  height: 1rem;
}

.tooltip svg {
  width: 1rem;
}

.tooltip .tooltip-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translateY(-50%);
  background-color: black;
  color: white;
}

.tooltip:hover .tooltip-content,
.tooltip:focus .tooltip-content {
  display: block;
}

.popup p {
  padding: 4px 0;
}

.popup p+.title {
  margin-top: 12px;
}

.popup p:not(:last-child) {
  border-bottom: solid 1px #ccc;
}

.popup p>strong {
  display: inline-block;
  width: 6rem;
}

#legend {
  position: absolute;
  bottom: 24px;
  right: 8px;
  left: auto;
}

#legend .content {
  width: 360px;
  max-height: inherit;
  overflow-y: visible;
  background: none;
  background-color: rgba(255, 255, 255, 0.8);
}

#legend h1 {
  font-size: 18px;
  margin-bottom: 0;
}

#legend legend {
  font-size: 16px;
}

#legend label {
  font-size: 16px;
}

#legend .content {
  max-height: 140px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 8px 12px;
  background: radial-gradient(farthest-side at 50% 100%,
      rgba(34, 34, 34, 0.3),
      rgba(0, 0, 0, 0)) 0 100%;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  border: solid 1px #d5d5d5;
}

.scale {
  margin-top: 8px;
}

.scale-parcels {
  width: 100%;
  height: 28px;
  background: linear-gradient(to right,
  #2166ac, #f7f7f7 50%, #b2182b);
  margin-bottom: 4px;
}
.labels-parcels {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
#legend {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #legend .content {
    max-width: auto;
    width: 100%;
    padding-bottom: 48px;
  }
}